* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
} 
 
::after, ::before {
  box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}
   
ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
/* basic css end */

/* common css start */
h2 {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}

h3 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #fff;
  line-height: 26px;
}

.my-btn {
  background-image: -moz-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  border: none;
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
  -webkit-transition: 0.2s linear;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, .4);
}


.my-btn:hover {
  opacity: 0.8;
  color: #fff;
  top: -5px;
  left: 5px;
  transition: all 0.2s linear;
  -webkit-transition: 0.2s linear;
}

/*// end of common css */

/* main css start */


/* === header part start === */
.header {
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 12px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}

.header .icon i {
  font-size: 15px;
  color: #fff;
  padding: 10px;
}

.shopping-cart sup {
  width: 17px;
  height: 17px;
  background: #2250fc;
  color: #fff;
  display: block;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 9px;
  font-family: 'Nunito', sans-serif;
  font-size: 9px;
  font-weight: 600;
  z-index: 1;
}

.megamenu-li {
	position: static;
}

.megamenu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
}

.dropdown h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 12px;
  font-weight: 600;
  padding: 10px 10px 15px 10px; 
}

.dropdown .dropdown-item {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #565656;
  line-height: 12px;
  font-weight: 400;
  padding: 10px;
}


.header.position-fixed {
  position: fixed;
  background: #111;
  top: 0 !important;
  box-shadow: 0 12px 6px rgba(31, 31, 31, 0.06);
}

/* mobile header start */
.header.mobile {
  position: fixed !important;
  top: 0;
  background: #111;
}

.header.mobile .navbar-nav {
  padding: 30px 15px;
}

.header.mobile .icon i{
  color: #fff;
}

.header.mobile .navbar-light .navbar-nav .nav-link {
  color: #fff;
  display: block;
  position: relative;
  padding: 12px 0;
  font-size: 14px;
}

.header.mobile .nav-item.dropdown .nav-link::before {
  content: '\f107';
  font-family: 'Font Awesome\ 5 Free'; 
  font-size: 14px;
  opacity: .6;
  position: absolute;
  right: 2px;
  color: #fff;
  transition: .3s ease;
  top: 50%;transform: translateX(-50%);
}

.header.mobile .dropdown-toggle::after {
  display: none;
}

.header.mobile .dropdown-menu {
  border: none;
}

.header.mobile .navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

/* animate btn */
.header.mobile .navbar-toggler {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  z-index: 999;
  top: -15px;
}

.header.mobile .navbar-toggler span {
  display: block;
  width: 30px;
  height: 3px;
  top: -10px;
  left: 0;
  background: #fff;
  position: absolute;
  top: 19px;
  transition: .3s;
}

.header.mobile .navbar-toggler span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .3s;
}
.header.mobile .navbar-toggler span::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: .3s;
}


.header.mobile .navbar-toggler.toggle span {
  background: transparent;
}


.header.mobile .navbar-toggler.toggle span::before {
  top: 0;
  transform: rotate(45deg);
}

.header.mobile .navbar-toggler.toggle span::after {
  top: 0;
  transform: rotate(-45deg);
}

/*// end of animate btn */

/*//end of mobile header */
/* ===//end of header part === */




/* === banner part start === */
.banner {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.banner::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, .3);
}

.banner-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .slider-item {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.banner .slider-item::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, .2);
}


.banner .slider-item.slide-1 {
  background: url(../images/01hero.png) no-repeat center center/cover;
  transition: all .5s linear;
  overflow: hidden;
}
.banner .slider-item.slide-2 {
  background: url(../images/02hero.png) no-repeat center center/cover;
  transition: all .5s linear;
  overflow: hidden;
}
.banner .slider-item.slide-3 {
  background: url(../images/03hero.png) no-repeat center center/cover;
  transition: all .5s linear;
  overflow: hidden;
}



h1  {
  font-size: 60px;
  color: #fff;
  line-height: 60px;
  font-weight: 700;
}

.slider-item{
  display: grid;
  place-items: center;
}

.bnr-content p {
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  margin: 35px 0;
}


/* slick start */
.prev-arrow ,
.next-arrow {
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
    background: transparent;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    transition: all 0.2s linear;
}

.prev-arrow:hover ,
.next-arrow:hover {
    color: #fff;
    background-image: -moz-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
}

.prev-arrow{
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
}
.next-arrow{
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


.slick-dots li{
  display: inline-block;
  padding: 5px;
}

.slick-dots{
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
}

.slick-dots button{
  font-size: 0;
  width: 30px;
  height: 5px;
  background: #fff;
  opacity: 0.5;
  border: none;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  outline: 0;
}

.slick-dots .slick-active button{
  opacity: 0.8;
}
/* //end of slick */
/* ===//end of banner part === */


/*=== sister logo part start ===*/
#sister-logo {
  padding: 20px 0;
  background: #fff;
}
 
#sister-logo img {
  background: #f1f1f1;
  display: block;
}
/*===//end of sister logo part===*/


/* === service part start === */
.service {
  padding: 80px 0;
  background: #f9f9f9;
}

.service .section-heading h2,
.service .section-heading h6 {
  color: #111;
}

.service-item p,
.service .section-heading p {
  color: #565656;
}

.service-item .icon {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  border: 2px dashed;
  display: grid;
  place-items: center;
  border-color: var(--brand-color);
  transition: all 0.5s linear;
}

.service-item .icon:hover {
  transform: rotateY(180deg);
  /* transform: rotate(360deg); */
}

.service .service-item img{
  width:  80px;
  height: auto;
  margin: auto;
}

.service .service-item {
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, .1);
  margin-bottom: 30px;
}

.service-item h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding: 20px 0 10px 0;
  color: #111;
}
/* ===//end of service part === */


/* === About part start === */
.about {
  padding: 80px 0;
  background: #111;
  background: #fff url(../images/about-bg.jpg) no-repeat center bottom;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.about::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
}

.about-img {
  width: 90%;
}

.about .about-text i{
  color: var(--brand-color);
  font-size: 25px;
}

.about .about-text li {
  padding: 5px 0;
}

/* .about-text li p {
  font-size: 18px;
  
} */

/* ===//end of About part === */


/*=== team start ===*/
#team {
  padding-top: 95px;
  padding-bottom: 60px;
  background: #fff;
}

#team .sec-title {
  padding-bottom: 60px;
}

#team .section-heading h6,
#team  .section-heading h2 {
  color: #111;
}
#team  .section-heading p {
  color: #565656;
}


.team-main {
  height:100%;
	width: 100%;
	position: relative;
	border-radius: 15px 15px 0 0;
  margin: 85px 0;
  overflow: hidden;
  transition: all 0.6s;
  z-index: 1;
}

.team-main:hover {
  margin-top: 0;
  overflow: visible;
  transition: all 0.3s linear;
}

.team-main .team-text {
  position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px 0;
	height: 170px;
	z-index: -1;
	opacity: 0;
	border: 1px solid #ccc;
	border-radius:0 0 15px 15px;
}

.team-main:hover .team-text{
	transform: translateY(100%);
	opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}

.team-img .img {
  position: relative;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.team-img .img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.team-img .img .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  display: grid;
  place-items: center;
  border-radius: 15px 15px 0 0;
  opacity: 0;
}

.team-main:hover .img .img-overlay {
  opacity: 1;
  transition: all 0.3s linear
}

.team-img .img-overlay .icon i{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #353535;
  background: #f1f1f1;
  font-size: 24px;
  text-align: center;
  line-height: 48px;
  margin: 2px;
}

.team-img .img-overlay .icon i:hover,
.footer-icon i:hover {
  color: #fff;
  background: #744fa0;
  transition: all 0.3s linear;
}

.team-text h4,
.team-text h6 {
  margin: 0;
  color: #111;
}

.team-text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #111;
} 

.team-text p {
  line-height: 20px;
  padding: 10px 20px;
  color: #6d5959;
}
/*===//end of team ===*/



/*=== testimonial part start ===*/
#testimonial {
  padding: 40px 0 0 0;
  background: url(../images/testimonial\ -bg.png) no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

#testimonial::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, .8);
}


.testi-bg {
  margin: 25px 0 0 0;
  padding: 30px 0;
}



.client-slide h3 {
  font-size: 18px;
  color: #fff;
}

.client-slide h4 {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
}

.client-slide i {
  color: orange;
  padding-right: 5px;
}

.client-slide p {
  color: #fff;
  line-height: 24px;
  padding: 15px 0 50px 0;
}

/*===//end of testimonial part ===*/



/* === blog part start === */
.blog .section-heading h2 {
  color: #111;
}
.blog .section-heading p {
  color: #565656;
}

.blog {
  background: #F7F9FB;
  padding: 80px 0;
}

.blog .post-item {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 40px;
}

.blog .post-btn {
  min-width: 90px;
  background-image: -moz-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(34,186,196) 0%, rgb(76,182,222) 25%, rgb(128,9,148) 100%);
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 25px;
  position: absolute;
  top: 10px;
  padding: 5px;
  right: 10px;
  z-index: 1;

}

.blog .post-btn:hover {
  opacity: 0.9;
  color: #fff;
}

.blog .post-meta-date,
.blog .post-meta-comments a {
  font-size: 12px;
  color: #c2c2c2;
}

.post-item-description h4 a{
  font-size: 18px;
  color: #444;
  font-weight: 600;
  line-height: 24px;
  display: block;
  padding: 10px 0;
}

.post-item-description p{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #777;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 0 15px 0;
}


.post-item-description .item-link {
  font-size: 12px;
  color: #888;
  transition: a0 .2s linear;
  text-transform: uppercase;
}

.post-item-description .item-link i {
  color: #565656;
  padding-left: 5px;
  transition: all 0.2s linear;
}

.post-item-description .item-link:hover {
  color: #2250fc;
}

.post-item-description .item-link:hover i {
  color: #2250fc;
  padding-left: 10px;
}
/* ===//end of blog part === */

/* === ? section start === */
/* ===//end of ? section === */


/* ==== bottom-banner part start ==== */
.bottom-banner {
  min-height: 565px;
  background: url(../images/bottom-bannaer/bottom-bannaer.png) no-repeat top center/cover;
}

.bottom-banner .bnr-txt {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  color: #fff;
  white-space: pre-line;
  padding-top: 180px;
}
/* ====//end of bottom-banner part ==== */


/* ==== footer part start ==== */
.footer {
  background: #031125;
  padding-top: 60px;
}

.footer .foot-menu-heading {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin: 10px 0 20px 0;
}

.footer .email,
.footer .email a,
.footer .foot-menu a {
  font-size: 13.5px;
  color: #fff;
}

.footer .foot-menu li {
  padding: 5px 0;
}

.footer .social-icon li {
  display: inline-block;
  padding: 5px;
}

.footer .social-icon li i{
  width: 40px;
  height: 40px;
  background: #111;
  color: #999;
  border: 2px solid #999;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.footer .social-icon li i:hover{
  width: 40px;
  height: 40px;
  background: #111;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.footer-top {
  border-bottom: 1px solid #071e3a;
}

.copyright ul li {
  padding: 10px 20px;
}

.copyright ul li a{
  color: #164e87;
  display: block;
}
/* ====//end of footer part ==== */
/* 
background: #fb383b;
background: #000;
color: #fff;
*/